@font-face {
    font-family: Roboto-Black;
    src: url(fonts/roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/roboto/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/roboto/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/roboto/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/roboto/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Black;
    src: url(fonts/roboto/Poppins-Black.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(fonts/roboto/Poppins-Light.ttf);
}

[data-theme="light"] {
    
    --colorBlack: #161925;
    --colorWhite: #F5F5F5;
    --colorText: #120c0e;
    --colorBackground: #eef2f7;
    --colorPrimary: #eb1565;
    --colorSecundary: #e3eaf2;
    --colorTerciary: #e2e6ea;
    --colorAccent: #436298;
    --colorHighlight: #E7D9C1;

    --colorShadow: rgba(0,0,0,0.75);

    --McolorAccent: rgb(193, 208, 225);


    /*      Achivements Colors      */
    --colorAchivementsBronze: rgb(213, 131, 48);
    --colorAchivementsSilver: rgb(209, 209, 209);
    --colorAchivementsGold: #FFD700;
    --colorAchivementsDiamond: #6fc5ec;
    --colorAchivementsPearl: #eae0c8;
}
[data-theme="dark"] {
    

    --colorText: #fcfcfd;
    --colorBackground: #14161A;
    --colorPrimary: #CF1F60;
    --colorSecundary: #0d141c;
    --colorTerciary: #24262b;
    --colorAccent: #6786bc;

    --colorShadow: rgba(219,219,219,1);

    --McolorAccent: #5B6776;
}

::selection {
    background-color: var(--colorHighlight);
    color: var(--colorText);
}

header {
    margin: 0 0 0 0;
    margin-top: 0v;
}

body {
    margin: 0 0 0 0;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.display_inline_flex {
    display: inline-flex;
    width: 100%;
}
