* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
html {
    background-color: var(--colorBackground);
    
    overflow: hidden;

}
h1, h2, h3, h4, h5, h6, a, li, p {
    font-family: Mulish;
}
body {
    display: inline-flex;
    width: 100vw;
    height: 100vh;
}

#sectionL {
    background-color: var(--colorText);
    display: block;
    position: relative;

    width: 30vw;
    height: 100vh;

}
#sectionR {
    
}